/* APP GENERAL */
*{
  box-sizing: border-box;
}

.App{
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

.d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-sticky{
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: fit-content;
}

footer{
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: #f5f5f5;
}

/* HOME */
.navbar-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color:white;
}

.home-page{
  margin: 100px 30px 200px 30px;
}

/* CARD BOOK */
.card-book{
  display: flex;
  flex-direction: column;
  background-color: white;
  border:1px solid #f0f0f0;
  border-radius: 2px;
  padding: 0px;
  cursor: pointer;
}

.card-book:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-line-through{
  text-decoration: line-through;
}

.card-price{
  font-weight: bold;
  font-size: 18px; 
}

.category-border{
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(35, 35, 122, 1) 23%, rgba(0, 201, 248, 1) 72%, rgba(0, 212, 255, 1) 100%);
}

/* BUTTONS */
.link-route-product{
  cursor: pointer;
}

.link-route-product:hover{
  text-decoration: underline;
}

.slick-dots .slick-dots-bottom{
  display: hidden;
}

.ant-carousel .slick-dots li button {
  display: hidden;
}